<div class="container">
  <header class="header">
    <div class="header__logo"></div>
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link" href="#">Products</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#">Cart</a>
        </li>
      </ul>
    </nav>
  </header>
  <main class="page">
    <h2 class="page__title">Products</h2>
    <div class="product-card__wrapper">
      <div *ngFor="let product of products" class="product-card">
        <span class="product-card__title">{{ product.title }}</span>
        <span class="product-card__price">{{ product.price | currency }}</span>
        <button type="button" class="primary-button add-to-cart-button">
          Add to cart
        </button>
      </div>
    </div>
    <button type="button" class="primary-button load-button">Load more</button>
  </main>
  <footer class="footer">
    <a class="admin-panel-button" href="#">Admin &#8594;</a>
  </footer>
</div>
