.container {
  background-color: var(--accent-color);
  max-width: 1920px;
  margin: 0 auto;
  font-size: 36px;
}

.header {
  display: flex;
  align-items: center;
  padding: 28px 97px;
  background-color: var(--secondary-color);

  &__logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d9d9d9;
    cursor: pointer;
  }
}

.navigation {
  &__list {
    display: flex;
    gap: 47px;
    margin: 0;
    padding: 0;
    margin-left: 47px;
  }
  &__item {
    margin: 0;
    list-style-type: none;
  }
  &__link {
    color: var(--text-color);
    text-decoration: none;
  }
}

.page {
  padding-inline: 98px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 48px;
    font-weight: 400;
    align-self: flex-start;
  }
}

.product-card {
  width: 342px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--secondary-color);
  padding: 30px;
  gap: 30px;

  &__wrapper {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 48px;
  }
}

.footer {
  padding: 39px 54px 51px 54px;
}

.primary-button {
  min-width: 238px;
  height: 60px;
  background-color: var(--button-primary);
  border: none;
  font-size: 24px;
}

.admin-panel-button {
  align-self: flex-start;
  text-decoration: none;
  color: var(--text-color);
}
